pretrained_models/
samples/

# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# PyTorch model files
*.pt
*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
